# node_modules
# .DS_Store
# .env*
# .expo
# android
# ios
# build
# coverage
# dist
# .vscode

# # logs
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*

# deps & build
node_modules/
apps/**/node_modules/
apps/**/dist/
apps/**/build/
dist/
build/
.turbo/
.turbo/**

# mobile caches / ignored deps
apps/mobile/.ignored_node_modules/
apps/mobile/.expo/
apps/mobile/.gradle/
apps/mobile/ios/Pods/
apps/mobile/android/.cxx/
apps/mobile/android/app/build/

# env / secrets
.env
.env.*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
turbo.log*

# editor/OS
.vscode/
.idea/
.DS_Store
